/*
 * Simple Docbook 5 CSS
 */

html body {
  margin: 1em 5% 1em 5%;
  line-height: 1.2;
}

.filename {
  color: #007a00;
}

.programlisting {
  padding: 1ex;
  background-color: #eee;
  border: 1px solid #ccc;
  line-height: 1.1;
}

.screen {
  padding: 1ex;
  background-color: #ccc;
  border: 1px solid #aaa;
}

.application {
  font-family: Consolas,monospace;
}

.itemizedlist {
  margin: 0.75em;
  padding: 0em;
  width: 90%;
}

.orderedlist {
  margin: 0.75em;
  padding: 0em;
  width: 90%;
}

.tip {
  margin: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  color: #004F00;
  background: #d8ecd6;
  border: 1px solid green;
}

.important {
  margin: 0.75em;
  font-style: italic;
  border: 1px solid #a00;
  border-left: 12px solid #c00;
}

.warning {
  margin: 0.75em;
  color: #9F1313;
  background: #f8e8e8;
  border: 1px solid #e59595;
}

.caution {
  margin: 0.75em;
  color: #3E3535;
  background: #FFC;
  border: 1px solid #e59595;
}
